Source: epics-adcore
Section: libdevel
Priority: extra
Maintainer: Michael Davidsaver <mdavidsaver@gmail.com>
Build-Depends: debhelper (>= 9), epics-debhelper (>= 8.14~),
               epics-dev,
               epics-asyn-dev, epics-busy-dev, epics-calc-dev,
               zlib1g-dev,
               libtinyxml-dev, libnexus0-dev, libnetcdf-dev,
               libhdf5-serial-dev | libhdf5-dev,
               libgraphicsmagick1-dev, libgraphicsmagick++1-dev,
               libtiff5-dev, libjpeg-dev,
               libboost-dev, libboost-test-dev,
Standards-Version: 3.9.6
Homepage: http://cars.uchicago.edu/software/epics/areaDetector.html
Vcs-Git: https://github.com/epicsdeb/adcore.git
Vcs-Browser: https://github.com/epicsdeb/adcore

Package: epics-adcore-dev
Architecture: any
Depends: libadcore2.5 (= ${binary:Version}),
         epics-adcore-common (>= ${source:Version}),
         epics-adcore-common (<< ${source:Version}.1~),
         ${shlibs:Depends}, ${misc:Depends},
         ${epics:Depends},
Conflicts: epics-synapps,
Description: areaDetector core
 areaDetector camera acquisition framework
 .
 This package contains headers and libraries needed at build time.

Package: epics-adcore-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         ${epics:Depends},
Description: areaDetector core
 areaDetector camera acquisition framework
 .
 This package contains some support files useful when
 building/running IOCs using areaDetector

Package: libadcore2.5
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Conflicts: epics-synapps,
Description: areaDetector core
 areaDetector camera acquisition framework
 .
 This package contains runtime libraries
